div(class="ed-container modal__container")
	div(class="signUp login")
		//- a(href="index.html")
		//- 	img(src='assets/img/fanattic.bet_logo.png', alt="fannatic logo")
		h3(class="login__h3") Ingresar 
		p(class="login__p") Fanatic.bet
		form(action="" class="signUp__form") 

			div(class="signUp__form--container ed-grid s-grid-1") 
				label(for="text" class="signUp__form--label") Nombre
					input(type="email" name="email" class="signUp__form--input" placeholder="Nombre")
			
				label(for="password" class="signUp__form--label") Contrasena 
					input(type="password" name="password" class="signUp__form--input" placeholder="Contrasena")

			button(type="submit" class="signUp__form--button btn btn__form") Ingresar
			
			div(class="signUp__form--login") 
				a(href="#")  ¿Olvidaste la contrasena? 
				p ¿No tienes cuenta? 
					a(href="signUp.html") Click aqui
