.btn {
	border: none;
    border-radius: 5px;
	color: var(--color-body);
	font-weight: bold;
    padding: 4px 11px;
	text-transform: capitalize;
	font-size: var(--small-font-size);
	cursor: pointer;
	
	&__singup {
		background-color: var(--color-third);

		@include from(l) {
			&:hover {
				background-color: transparent;
				color:  var(--color-body);
				border: 2px solid var(--color-third);
			}
		}
	
	}
	
	&__login {
		background-color: var(--color-second);
		border: 2px solid var(--color-second);
		color: var(--color-background );
		
		&:active {
			background-color: transparent;
		}
		
		@include from(l) {
			&:hover {
				background: transparent;
				border: 2px solid var(--color-second);
				color: var(--color-bodyThird);
			}
		}
	}

	&__primary {
		padding: 9px 16px;
		background-color: var(--color-first);
		border-radius: 7px;
		color: var(--color-background);
		text-align: center;
		font-family: var(--button-font);
		font-size: var(--h2-font-size);
		max-width: 400px;
		width: 80%;
		position: absolute;
    	bottom: 0;
		
		
		@include from(l) {
			position: relative;
			font-size: 55px;
			width: 512px;
			padding: 9px 50px;
			&:hover {
				background-color: var(--color-second);
				color: var(--color-background);
			}
		}
	}
	
	&__secondary {
		padding: 8px 48px;
		background-color: transparent;
		border: 1px solid var(--color-background);
		border-radius: 1px;
		font-size: 14px;
		color: var(--color-background);
		width: 169px;
		
		@include from(l) {
			font-size: 14px;
			padding: 8px 48px;
			
			&:hover {
				background-color: var(--color-first);
				color: var(--color-background);
				border: none;
			}
		}
	}
}


