.btn {
	border: none;
    border-radius: 5px;
	color: var(--color-body);
	font-weight: bold;
    padding: 4px 11px;
	text-transform: capitalize;
	font-size: var(--small-font-size);
	cursor: pointer;
	
	&__singup {
		background-color: var(--color-third);

		@include from(l) {
			&:hover {
				background-color: transparent;
				color:  var(--color-body);
				border: 2px solid var(--color-third);
			}
		}
	
	}
	
	&__login {
		background-color: var(--color-second);
		border: 2px solid var(--color-second);
		color: var(--color-background );
		
		&:active {
			background-color: transparent;
		}
		
		@include from(l) {
			&:hover {
				background: transparent;
				border: 2px solid var(--color-second);
				color: var(--color-bodyThird);
			}
		}
	}

	&__primary {
		padding: 9px 180px;
		background-color: var(--color-first);
		border-radius: 7px;
		font-size: 55px;
		color: var(--color-background);

		
		@include from(l) {
			&:hover {
				background-color: var(--color-second);
				color: var(--color-background);
			}
		}
	}

	&__secondary {
		padding: 8px 48px;
		background-color: transparent;
		border: 1px solid var(--color-background);
		border-radius: 1px;
		font-size: 14px;
		color: var(--color-background);
	}

	
}

.display {
	display: none;

	@include from(l) {
		display: block;
	}
}
