section(class="payment")
	h2(class="payment__h2") Payments Methods
	div(class='payment-carousell' id='payment-carousell')
		-for(var i = 0; i < methods.length ; i++)
			-var method = methods[i];
				div(class='payment-carousell__container')
					img(src=method.img alt=method.alt class='payment-carousell__img')
