div(class='container-bonuses')
	div(class='container-bonuses__content') 
		h2(class='container-bonuses__content--h2') Bonuses and promotions
		p(class='container-bonuses__content--p') Register NOW and get promo codes
	div(class='tns-carousell' id='tnsCarousell')
		include ../config/utilis/img-card
		



