section(class="section-apuestas")
    h1 banking
    div(class='ed-container')
    div(class='ed-item')
        div(class='tabs-container')
            ul(class='tabs-container__tabs' id='tabs')
                li(class='tabs-container__tab is-active') DEPOSITO
                li(class='tabs-container__tab') RETIROS
            div(class='tabs-container__panels')
                div(class='ed-grid s-grid-1 m-grid-2 l-grid-3 tabs-container__panel is-active')
                    div(class='tabs-container__item')
                        div(class="tabs-container__contentImg")
                            img(src="assets/img/banca/Image 54.png", alt="image")
                        a(class="btn btn__banca" href="#") DEPOSITA AHORA
                    div(class='tabs-container__item')
                        div(class="tabs-container__contentImg")
                            img(src="assets/img/banca/Image 53.png", alt="image")
                        a(class="btn btn__banca" href="#") DEPOSITA AHORA
                    div(class='tabs-container__item')
                        div(class="tabs-container__contentImg")
                            img(src="assets/img/banca/Image 52.png", alt="image")
                        a(class="btn btn__banca" href="#") DEPOSITA AHORA
                div(class='ed-grid s-grid-1 m-grid-2 l-grid-3 tabs-container__panel')
                    div(class='tabs-container__item')
                        div(class="tabs-container__contentImg")
                            img(src="assets/img/banca/Image 54.png", alt="image")
                        a(class="btn btn__banca" href="#") DEPOSITA AHORA
                    div(class='tabs-container__item')
                        div(class="tabs-container__contentImg")
                            img(src="assets/img/banca/Image 53.png", alt="image")
                        a(class="btn btn__banca" href="#") DEPOSITA AHORA
